@import url(https://fonts.googleapis.com/css?family=Signik:bold);

#outer-div {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    background-image: url("1189619.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
#inner-div {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    width: 80%;
    height: 100vh;
    border-radius: 100px;
    background-color: #ffffff;
    opacity: 75%;
  }

#Head {
    opacity: 100%;
    color: black;
    font-family: Signik,sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h1 {
    padding: 0px;
    margin-bottom: -70px;
}

h2 {
    top: 0px;
    position: static;
}

p {
    font-family: Signik,sans-serif;
    color: #000000;
}

#version {
    position: absolute;
    font-family: Signik,sans-serif;
    font-size: 13px;
    bottom: 1px;
    left: 3px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#user-time {
    position: static;
    margin-bottom: -100px;
    padding: 0;
    margin: 0;
}

#daily {
    width: 50%;
    position: relative;
    float: left;
}

#local {
    position: relative;
    margin-top: -10px;
}

#d-servers {
    position: relative;
    margin-top: 100px;
}
#as-d {
    position: relative;
    margin-top: 100px;
}
#eu-d {
    position: relative;
    margin-top: 100px;
}
#am-d {
    position: relative;
    margin-top: 100px;
}
#st {
    position: relative;
    margin-top: 80px;
}
#sr {
    position: relative;
    margin-top: -10px;
}

#events {
    width: 50%;
    position: relative;
    float: right;
}