#outer-div {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    background-image: url("1189619.jpg");
    background-size: 100%;
    margin: 0;
    padding: 0;
  }
  
#inner-div {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    width: 80%;
    height: 100vh;
    border-radius: 100px;
    background-color: #ffffff;
    opacity: 50%;
  }